
img {
    border-radius: 50%;
    margin: 50px auto;
    display: block;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    }   

h1 {
    color: #DA1E37;
    font-size: 35px;
    margin: 0;
    padding-bottom: 50px;
    }

h2 {
    color: #250001;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 40px;
    margin: 0;
    text-decoration: underline;
    }

body {
    background-color: #FFDAC6;
    font-family: Mulish, sans-serif;
    text-align: center;
    }

a {
    color: brown;
    }

footer {
    padding: 50px 0 0 0;
    }   




/*barva h1 / #D20646 / #A81A1A / #DC3636 / #BA2626 